/* Mengatur container card */
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Mengatur card */
.card {
  border: 1px solid #181f2a;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  width: 300px;
  height: 600px;
  margin: 16px;
  background-color: yellow; /* Menambahkan background warna kuning */
}

.card:hover {
  transform: scale(1.05);
}

/* Mengatur gambar dalam card */
.card-image {
  width: 600px;
  height: 320px;
  object-fit: cover;
}

/* Mengatur konten dalam card */
.card-content {
  padding: 1rem; /* Padding dalam konten card */
  text-align: center; /* Teks dalam konten berada di tengah */
  flex-grow: 1; /* Membuat konten mengambil ruang yang tersisa */
  background-color: #08512f; /* Warna latar belakang konten card */
}

/* Mengatur judul dalam card */
.card-title {
  margin: 0;
  font-size: 1.5em;
  color: #ff5733; /* Mengubah warna teks menjadi oranye */
}

/* Mengatur deskripsi dalam card */
.card-description {
  margin: 8px 0 0;
  color: #ffffff; /* Mengubah warna teks deskripsi menjadi putih */
}
